* {
  box-sizing: border-box;
}
body {
  color: #fae0e0;
  background: #322121;
  margin:10px;
}

header {
  display:block;
}

.logo {
  font-size: 50px;
  font-family: 'Kumar One', cursive;
  padding-top: 35px;
  padding-left: 10px;
}
.name {
  text-align: right;
  /* float: right; */
  margin-right:20px;
}

h1 {
  font-size: 50px;
  font-family: arial;
}
h4 {
  font-size: 18px;
  font-family: arial;
}
hr {
  border-top: 3px solid #7d97ad;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image{
  padding: 1px;
}
.img-center{
  margin: 70px;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}
.imgres {
  width:100%;
}
footer {
  text-align: center;
}
/*media queries */

@media only screen and (min-width: 0) and (max-width: 500px)  {
    .logo {
    font-size: 20px;
    font-family: 'Kumar One', cursive;
    padding-top: 25px;
    }
    h1 {
      font-size: 24px;
      font-family: arial;
    }
    .name {
      text-align: right;
      /* float: right; */
      margin-right:8px;
    }
    h4{
      font-size: 11px;
    }
    h3 {
      margin-top:15px;
    }
    .img-center{
      margin: 0px;
    }
    .content-center {
      padding: 2% 2% 0% 2%;
    }
    .container {
      padding: 0px;
    }
    footer {
      text-align: center;
      font-size: 8px;
      padding-top:5px;
    }
    a.link {
      font-size: 10px;
    }
  }

@media only screen and (min-width: 501px) and (max-width: 950px)  {
    .content-center {
      display:flex;
      flex-wrap: wrap;
      max-width: 100%
    }
  }

@media only screen and (min-width: 951px)  {
      .content-center {
        max-width: 100%;
        padding:2%
      }
      h3 {
        padding:10px;
        font-size: 30px;
      }
      figcaption {
        font-size: 20px;
        text-align: left;
      }
      a.link {
        font-size: 17px;
      }
    }
